.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container {
  width: 400px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.container p {
  font-size: 18px;
  color: #333;
  margin: 0;
}

.box {
  flex-direction: column;
}
